<ul class="contact">
  <li>
    <span class="group pic-ued" title="PIC-UED"></span>
    <span class="name-en">Sherry Su</span>
    <span class="pos">Chief Artist</span>
    <span class="name-zh">宿姨</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5977</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18000000000</span>
  </li>

  <li>
    <span class="group pic-uid" title="PIC-UID"></span>
    <span class="name-en">Ash Zhang</span>
    <span class="pos">UI Developer</span>
    <span class="name-zh">阿十王</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5977</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18001750775</span>
  </li>

  <li>
    <span class="group pic-product" title="PIC-Product"></span>
    <span class="name-en">Sarah Shen</span>
    <span class="pos">Product Designer</span>
    <span class="name-zh">沙拉酱</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 0000</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18000000000</span>
  </li>

  <li>
    <span class="group pdc-qa" title="PDC-QA"></span>
    <span class="name-en">Lynn Yan</span>
    <span class="pos">QA</span>
    <span class="name-zh">闫琳琳</span>
    <span class="location"><i class="fa fa-map-marker"></i> HQ</span>
    <span class="ext"><i class="fa fa-phone"></i> 0000</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18000000000</span>
  </li>

  <li>
    <span class="group pdc-mgr" title="PDC-Development-Manager"></span>
    <span class="name-en">Liang Liang</span>
    <span class="pos">Development</span>
    <span class="name-zh">梁博士</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 0000</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18000000000</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Wesley Wang</span>
    <span class="pos">Development</span>
    <span class="name-zh">歪四粒</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 0000</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18000000000</span>
  </li>

  <li>
    <span class="group pic-ued" title="PIC-UED"></span>
    <span class="name-en">Sherry Su</span>
    <span class="pos">Chief Artist</span>
    <span class="name-zh">宿姨</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5977</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18000000000</span>
  </li>

  <li>
    <span class="group pic-uid" title="PIC-UID"></span>
    <span class="name-en">Ash Zhang</span>
    <span class="pos">UI Developer</span>
    <span class="name-zh">阿十王</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5977</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18001750775</span>
  </li>

  <li>
    <span class="group pic-product" title="PIC-Product"></span>
    <span class="name-en">Sarah Shen</span>
    <span class="pos">Product Designer</span>
    <span class="name-zh">沙拉酱</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 0000</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18000000000</span>
  </li>

  <li>
    <span class="group pdc-qa" title="PDC-QA"></span>
    <span class="name-en">Lynn Yan</span>
    <span class="pos">QA</span>
    <span class="name-zh">闫琳琳</span>
    <span class="location"><i class="fa fa-map-marker"></i> HQ</span>
    <span class="ext"><i class="fa fa-phone"></i> 0000</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18000000000</span>
  </li>

  <li>
    <span class="group pdc-mgr" title="PDC-Development-Manager"></span>
    <span class="name-en">Liang Liang</span>
    <span class="pos">Development</span>
    <span class="name-zh">梁博士</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 0000</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18000000000</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Wesley Wang</span>
    <span class="pos">Development</span>
    <span class="name-zh">歪四粒</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 0000</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18000000000</span>
  </li>
</ul>
