<h2>PIC</h2>

<ul class="contact">
  <li>
    <span class="group pdc-mgr" title="PIC-MANAGER"></span>
    <span class="name-en">David Zheng</span>
    <span class="pos">Product Manager</span>
    <span class="name-zh">郑振鹏</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> ????</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18721622109</span>
  </li>

  <li>
    <span class="group pic-ued" title="PIC-UED"></span>
    <span class="name-en">Sherry Su</span>
    <span class="pos">Chief Artist</span>
    <span class="name-zh">宿姨</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5977</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13817935993</span>
  </li>

  <li>
    <span class="group pic-uid" title="PIC-UID"></span>
    <span class="name-en">Ash Zhang</span>
    <span class="pos">UI Developer</span>
    <span class="name-zh">张阿十</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5977</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18001750775</span>
  </li>

  <li>
    <span class="group pic-uid" title="PIC-UID"></span>
    <span class="name-en">Lance Zhao</span>
    <span class="pos">UI Developer</span>
    <span class="name-zh">赵亮</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> ????</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 15002198191</span>
  </li>

  <li>
    <span class="group pic-uid" title="PIC-UID"></span>
    <span class="name-en">Patrick Fang</span>
    <span class="pos">UI Developer</span>
    <span class="name-zh">方辉</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> ????</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13564128227</span>
  </li>

  <li>
    <span class="group pic-product" title="PIC-UED"></span>
    <span class="name-en">Formula Yang</span>
    <span class="pos">Product Designer</span>
    <span class="name-zh">杨茜茜</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5995</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13764219747</span>
  </li>

  <li>
    <span class="group pic-product" title="PIC-Product"></span>
    <span class="name-en">Sarah Shen</span>
    <span class="pos">Product Designer</span>
    <span class="name-zh">沙拉酱</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5995</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13818392764</span>
  </li>

  <li>
    <span class="group pic-product" title="PIC-UED"></span>
    <span class="name-en">Richard Zhang</span>
    <span class="pos">Product Designer</span>
    <span class="name-zh">张飞</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> ????</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13816472161</span>
  </li>

  <li>
    <span class="group pic-product" title="PIC-UED"></span>
    <span class="name-en">Lind Lin</span>
    <span class="pos">Product Designer</span>
    <span class="name-zh">林辉</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> ????</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13564512663</span>
  </li>

  <li>
    <span class="group pic-product" title="PIC-UED"></span>
    <span class="name-en">Tracy</span>
    <span class="pos">Product Designer</span>
    <span class="name-zh">张婷婷</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> ????</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18000000000</span>
  </li>

  <li>
    <span class="group pic-product" title="PIC-UED"></span>
    <span class="name-en">Simon Wu</span>
    <span class="pos">Product Designer</span>
    <span class="name-zh">吴制动</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> ????</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18616529539</span>
  </li>

  <li>
    <span class="group pic-product" title="PIC-UED"></span>
    <span class="name-en">Roger Li</span>
    <span class="pos">Product Designer</span>
    <span class="name-zh">李皓</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> ????</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18000000000</span>
  </li>

  <li>
    <span class="group pic-mobile" title="PIC-UED"></span>
    <span class="name-en">Ronnie Chen</span>
    <span class="pos">Product Designer</span>
    <span class="name-zh">陈潇挺</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> ????</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 15316890391</span>
  </li>

  <li>
    <span class="group pic-mobile" title="PIC-UED"></span>
    <span class="name-en">Horton Wu</span>
    <span class="pos">Product Designer</span>
    <span class="name-zh">吴晓春</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> ????</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13524466763</span>
  </li>
</ul>

<h2>PDC</h2>

<ul class="contact">
  <li>
    <span class="group pdc-mgr" title="PDC-Development-Manager"></span>
    <span class="name-en">Liang Liang</span>
    <span class="pos">Development</span>
    <span class="name-zh">梁樑</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5970</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13818674967</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Adam Wu</span>
    <span class="pos">Development</span>
    <span class="name-zh">吴波</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5976</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13761230442</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Adson Li</span>
    <span class="pos">Development</span>
    <span class="name-zh">李胜</span>
    <span class="location"><i class="fa fa-map-marker"></i> HQ</span>
    <span class="ext"><i class="fa fa-phone"></i> 84016</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18721354664</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Anderson Mao</span>
    <span class="pos">Development</span>
    <span class="name-zh">毛鹤松</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5968</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13818056956</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Anna Chen</span>
    <span class="pos">Development</span>
    <span class="name-zh">陈晓娜</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5994</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18801619169</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Darren Deng</span>
    <span class="pos">Development</span>
    <span class="name-zh">邓超</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5962</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18621278738</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Gavin Xu</span>
    <span class="pos">Development</span>
    <span class="name-zh">徐磊</span>
    <span class="location"><i class="fa fa-map-marker"></i> HQ</span>
    <span class="ext"><i class="fa fa-phone"></i> 84020</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13816235074</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Grace Ge</span>
    <span class="pos">Development</span>
    <span class="name-zh">葛杏</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5994</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18016385020</span>
  </li>

  <li>
    <span class="group pdc-mgr" title="PDC-Development"></span>
    <span class="name-en">Henry Chen</span>
    <span class="pos">Development</span>
    <span class="name-zh">陈继平</span>
    <span class="location"><i class="fa fa-map-marker"></i> HQ</span>
    <span class="ext"><i class="fa fa-phone"></i> 84910</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 15951123199</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Hunny Hu</span>
    <span class="pos">Development</span>
    <span class="name-zh">胡泽雄</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5961</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 15021686132</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Joel Yang</span>
    <span class="pos">Development</span>
    <span class="name-zh">阳湘军</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5976</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13661934662</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Keller Yao</span>
    <span class="pos">Development</span>
    <span class="name-zh">姚凯</span>
    <span class="location"><i class="fa fa-map-marker"></i> HQ</span>
    <span class="ext"><i class="fa fa-phone"></i> 84918</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18662213165</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Luke Wu</span>
    <span class="pos">Development</span>
    <span class="name-zh">吴轶坚</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5967</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13611996665</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Mandy Chen</span>
    <span class="pos">Development</span>
    <span class="name-zh">陈孝香</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5962</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 15221745557</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Peter Qiu</span>
    <span class="pos">Development</span>
    <span class="name-zh">邱飞</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5968</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13386111338</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Redsword Shao</span>
    <span class="pos">Development</span>
    <span class="name-zh">邵建红</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5964</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13451835104</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Sean Chang</span>
    <span class="pos">Development</span>
    <span class="name-zh">常佳</span>
    <span class="location"><i class="fa fa-map-marker"></i> HQ</span>
    <span class="ext"><i class="fa fa-phone"></i> 84917</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13661917845</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Seven Sun</span>
    <span class="pos">Development</span>
    <span class="name-zh">孙龙</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5951</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18672360081</span>
  </li>

  <li>
    <span class="group pdc-mgr" title="PDC-Development"></span>
    <span class="name-en">Tony Zhou</span>
    <span class="pos">Development</span>
    <span class="name-zh">周江华</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5968</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13918176139</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Valencia Gong</span>
    <span class="pos">Development</span>
    <span class="name-zh">龚倍喜</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5965</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13916922890</span>
  </li>

  <li>
    <span class="group pdc-mgr" title="PDC-Development"></span>
    <span class="name-en">Wesley Wang</span>
    <span class="pos">Development</span>
    <span class="name-zh">王俊生</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5967</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13585532062</span>
  </li>

  <li>
    <span class="group pdc-qa" title="PDC-Development"></span>
    <span class="name-en">Jacqueline Liu</span>
    <span class="pos">Quality Assurance</span>
    <span class="name-zh">刘文萍</span>
    <span class="location"><i class="fa fa-map-marker"></i> HQ</span>
    <span class="ext"><i class="fa fa-phone"></i> 84054</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 15150482836</span>
  </li>

  <li>
    <span class="group pdc-qa" title="PDC-Development"></span>
    <span class="name-en">Jordan Qiu</span>
    <span class="pos">Quality Assurance</span>
    <span class="name-zh">裘丹</span>
    <span class="location"><i class="fa fa-map-marker"></i> HQ</span>
    <span class="ext"><i class="fa fa-phone"></i> 84037</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 15026556514</span>
  </li>

  <li>
    <span class="group pdc-qa" title="PDC-Development"></span>
    <span class="name-en">Joseph Lin</span>
    <span class="pos">Quality Assurance</span>
    <span class="name-zh">林家标</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5963</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 15900526990</span>
  </li>

  <li>
    <span class="group pdc-qa" title="PDC-Development"></span>
    <span class="name-en">Lynn Yan</span>
    <span class="pos">Quality Assurance</span>
    <span class="name-zh">闫琳琳</span>
    <span class="location"><i class="fa fa-map-marker"></i> HQ</span>
    <span class="ext"><i class="fa fa-phone"></i> 84915</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18616106187</span>
  </li>

  <li>
    <span class="group pdc-qa" title="PDC-Development"></span>
    <span class="name-en">Oliver Yao</span>
    <span class="pos">Quality Assurance</span>
    <span class="name-zh">姚银兵</span>
    <span class="location"><i class="fa fa-map-marker"></i> HQ</span>
    <span class="ext"><i class="fa fa-phone"></i> 84054</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18651609262</span>
  </li>

  <li>
    <span class="group pdc-qa" title="PDC-Development"></span>
    <span class="name-en">Ronny Shi</span>
    <span class="pos">Quality Assurance</span>
    <span class="name-zh">史良</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5996</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 13166360669</span>
  </li>

  <li>
    <span class="group pdc-qa" title="PDC-Development"></span>
    <span class="name-en">Ruby Xiao</span>
    <span class="pos">Quality Assurance</span>
    <span class="name-zh">肖卉</span>
    <span class="location"><i class="fa fa-map-marker"></i> HQ</span>
    <span class="ext"><i class="fa fa-phone"></i> 84915</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 15366909106</span>
  </li>

  <li>
    <span class="group pdc-qa" title="PDC-Development"></span>
    <span class="name-en">Song</span>
    <span class="pos">Quality Assurance</span>
    <span class="name-zh">宋艳菊</span>
    <span class="location"><i class="fa fa-map-marker"></i> HQ</span>
    <span class="ext"><i class="fa fa-phone"></i> 84054</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18012661595</span>
  </li>

  <li>
    <span class="group pdc-qa" title="PDC-Development"></span>
    <span class="name-en">Wendy Song</span>
    <span class="pos">Quality Assurance</span>
    <span class="name-zh">宋文婷</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5986</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 18918138858</span>
  </li>

  <li>
    <span class="group pdc-dev" title="PDC-Development"></span>
    <span class="name-en">Perry Ma</span>
    <span class="pos">Development</span>
    <span class="name-zh">马安峰</span>
    <span class="location"><i class="fa fa-map-marker"></i> SH</span>
    <span class="ext"><i class="fa fa-phone"></i> 5986</span>
    <span class="mobile"><i class="fa fa-mobile-phone"></i> 15921576965</span>
  </li>

</ul>
