<div class="page-nav menu-0">
  <div class="page-nav-menu">
    <h1>
      <span>P</span>
      <span>I</span>
      <span>C</span>
      <span>&nbsp;&amp;&nbsp;</span>
      <span>P</span>
      <span>D</span>
      <span>C</span>
    </h1>

    <nav class="page-nav-list">
      <ul>
        <li data-nav-list="1">
          <span class="nav-title">Seating Chart</span>
          <span class="nav-sub-title">Where is he/she?</span>
          <i class="fa fa-chevron-circle-right"></i>
        </li>

        <li data-nav-list="2">
          <span class="nav-title">Contact Info</span>
          <span class="nav-sub-title">Ext, Mobile, Location</span>
          <i class="fa fa-chevron-circle-right"></i>
        </li>

        <li data-nav-list="3">
          <span class="nav-title">Search</span>
          <span class="nav-sub-title">Show me 'Somebody'</span>
          <i class="fa fa-chevron-circle-right"></i>
        </li>

        <li class="current"></li>
      </ul>
    </nav>
  </div>

  <div class="page-nav-ring">
    <div class="page-nav-ring-inner">
      <svg class="ring-1">
        <circle cx="50%" cy="50%" r="195" stroke="#ec87c0" stroke-dasharray="5,10" stroke-width="2" fill="transparent"></circle>
        <circle cx="50%" cy="50%" r="215" stroke="#f0f1f5" stroke-width="6" fill="transparent"></circle>
        <circle cx="50%" cy="50%" r="225" stroke="#ec87c0" stroke-width="2" fill="transparent"></circle>
        <circle cx="50%" cy="50%" r="232" stroke="#d770ad" stroke-width="2" fill="transparent" opacity="0.7" stroke-dasharray="100, 50, 250, 100, 175,  80, 350, 30"></circle>
      </svg>

      <svg class="ring-2">
        <circle cx="50%" cy="50%" r="255" stroke="#d770ad" stroke-width="16" fill="transparent" opacity="0.4" stroke-dasharray="2,5"></circle>
        <circle cx="50%" cy="50%" r="280" stroke="#f0f1f5" stroke-width="3" fill="transparent" opacity="0.4" stroke-dasharray="2, 10"></circle>
      </svg>

      <div class="page-nav-icons">
        <div class="icon icon-1" data-nav="1">
          <i class="fa fa-map-marker"></i>
        </div>

        <div class="icon icon-2" data-nav="2">
          <i class="fa fa-phone"></i>
        </div>

        <div class="icon icon-3" data-nav="3">
          <i class="fa fa-search"></i>
        </div>
      </div>

      <i class="fa fa-cloud logo-cloud"></i>
    </div>
  </div>
</div>

<div class="page-detail"></div>
