<div class="seating">
  <div class="row">
    <div class="block">
      <div class="seat pdc-dev">
        <span class="name-en">Perry Ma</span>
        <span class="name-zh">马安峰</span>
      </div>

      <div class="seat pdc-qa">
        <span class="name-en">Wendy Song</span>
        <span class="name-zh">宋文婷</span>
      </div>

      <br>

      <div class="seat">
        <span class="name-en">???</span>
        <span class="name-zh">某某某</span>
      </div>

      <div class="seat">
        <span class="name-en">???</span>
        <span class="name-zh">某某某</span>
      </div>

    </div>

    <div class="block">
      <div class="seat pdc-dev">
        <span class="name-en">Ronnie</span>
        <span class="name-zh">陈潇庭</span>
      </div>

      <div class="seat pdc-dev">
        <span class="name-en">Ronnie</span>
        <span class="name-zh">吴晓春</span>
      </div>

      <br>

      <div class="seat pic-uid">
        <span class="name-en">Lance Zhao</span>
        <span class="name-zh">赵亮</span>
      </div>

      <div class="seat">
        <span class="name-en">???</span>
        <span class="name-zh">某某某</span>
      </div>
    </div>

    <div class="block">
      <div class="seat pdc-dev">
        <span class="name-en">Bing</span>
        <span class="name-zh">邓饼饼</span>
      </div>

      <div class="seat pdc-dev">
        <span class="name-en">???</span>
        <span class="name-zh">某某某</span>
      </div>

      <br>

      <div class="seat">
        <span class="name-en">???</span>
        <span class="name-zh">某某某</span>
      </div>

      <div class="seat">
        <span class="name-en">???</span>
        <span class="name-zh">某某某</span>
      </div>
    </div>

    <div class="block">
      <div class="seat pic-product">
        <span class="name-en">Lind Lin</span>
        <span class="name-zh">林某某</span>
      </div>

      <div class="seat pic-product">
        <span class="name-en">Simon Wu</span>
        <span class="name-zh">吴某某</span>
      </div>

      <div class="seat pic-product">
        <span class="name-en">R.....</span>
        <span class="name-zh">某某某</span>
      </div>

      <br>

      <div class="seat pic-ued">
        <span class="name-en">Sherry Su</span>
        <span class="name-zh">宿姨</span>
      </div>

      <div class="seat pic-uid">
        <span class="name-en">Ash Zhang</span>
        <span class="name-zh">阿十王</span>
      </div>
    </div>

    <div class="block">
      <div class="seat pic-product">
        <span class="name-en">Sarah Shen</span>
        <span class="name-zh">沈卓垚</span>
      </div>

      <div class="seat pic-product">
        <span class="name-en">Formula Yang</span>
        <span class="name-zh">杨茜茜</span>
      </div>

      <br>

      <div class="seat pdc-dev">
        <span class="name-en">Grace</span>
        <span class="name-zh">某某某</span>
      </div>

      <div class="seat pdc-dev">
        <span class="name-en">Anna Chen</span>
        <span class="name-zh">陈晓娜</span>
      </div>
    </div>
  </div>
</div>
