<div class="seating">
  <div class="row">
    <div class="block">
      <div class="seat pdc-dev">
        <span class="name-en">Perry Ma</span>
        <span class="name-zh">马安峰</span>
      </div>

      <div class="seat pdc-qa">
        <span class="name-en">Wendy Song</span>
        <span class="name-zh">宋文婷</span>
      </div>

      <br>

      <div class="seat pdc-dev">
        <span class="name-en">Yang</span>
        <span class="name-zh">盛久扬</span>
      </div>

      <div class="seat pdc-qa">
        <span class="name-en">Ronny</span>
        <span class="name-zh">史良</span>
      </div>

    </div>

    <div class="block">
      <div class="seat pic-mobile">
        <span class="name-en">Ronnie Chen</span>
        <span class="name-zh">陈潇挺</span>
      </div>

      <div class="seat pic-mobile">
        <span class="name-en">Horton Wu</span>
        <span class="name-zh">吴晓春</span>
      </div>

      <br>

      <div class="seat pic-uid">
        <span class="name-en">Lance Zhao</span>
        <span class="name-zh">赵亮</span>
      </div>

      <div class="seat pdc-dev">
        <span class="name-en">Sherlock</span>
        <span class="name-zh">夏洛克</span>
      </div>
    </div>

    <div class="block">
      <div class="seat pdc-dev">
        <span class="name-en">Binn Deng</span>
        <span class="name-zh">邓彬彬</span>
      </div>

      <div class="seat pdc-dev">
        <span class="name-en">Bob Wang</span>
        <span class="name-zh">王剑卓</span>
      </div>

      <br>

      <div class="seat pic-uid">
        <span class="name-en">Patrick Fang</span>
        <span class="name-zh">方辉</span>
      </div>

      <div class="seat pic-product">
        <span class="name-en">Richard</span>
        <span class="name-zh">张飞</span>
      </div>
    </div>

    <div class="block">
      <div class="seat pic-product">
        <span class="name-en">Lind Lin</span>
        <span class="name-zh">林辉</span>
      </div>

      <div class="seat pic-product">
        <span class="name-en">Simon Wu</span>
        <span class="name-zh">吴制动</span>
      </div>

      <div class="seat pic-product">
        <span class="name-en">Roger Li</span>
        <span class="name-zh">李皓</span>
      </div>

      <br>

      <div class="seat pic-ued">
        <span class="name-en">Sherry Su</span>
        <span class="name-zh">宿姨</span>
      </div>

      <div class="seat pic-uid">
        <span class="name-en">Ash Zhang</span>
        <span class="name-zh">张阿十</span>
      </div>
    </div>

    <div class="block">
      <div class="seat pic-product">
        <span class="name-en">Sarah Shen</span>
        <span class="name-zh">沈卓垚</span>
      </div>

      <div class="seat pic-product">
        <span class="name-en">Formula Yang</span>
        <span class="name-zh">杨茜茜</span>
      </div>

      <br>

      <div class="seat pdc-dev">
        <span class="name-en">Grace Ge</span>
        <span class="name-zh">葛杏</span>
      </div>

      <div class="seat pdc-dev">
        <span class="name-en">Anna Chen</span>
        <span class="name-zh">陈晓娜</span>
      </div>
    </div>

    <div class="block">

      <div class="seat pdc-dev">
        <span class="name-en">Adam Wu</span>
        <span class="name-zh">吴波</span>
      </div>

      <div class="seat pdc-dev">
        <span class="name-en">Joel Yang</span>
        <span class="name-zh">阳湘军</span>
      </div>

      <br>

      <div class="seat pdc-dev">
        <span class="name-en">Seven Sun</span>
        <span class="name-zh">孙龙</span>
      </div>

      <div class="seat pdc-dev">
        <span class="name-en">Jie Tu</span>
        <span class="name-zh">涂杰</span>
      </div>
    </div>
  </div>
</div>
